/* #myH1{
  font-size: 4rem;
} */

.myButtons{
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
 
}

.enabled{
  background-color: lightblue;

}

.hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}


.disabled{
  background-color: lightgreen;
  color: black;
}